# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

__pycache__/
build_warnings.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs code
.vscode

# eclipse
.settings
.*project

# data
data
*.dat
*.bin
*.txt
*.csv
*.log

# bin, obj
bin
obj
